
fieldset {
	border: 1px solid #ccc;
	color: #333;
	font-size: 90%; 
	line-height: 1.4em;
	padding: 5px;
	margin: 0 0 15px 2px;
	width: 186px;
}

legend {	
	color: #333;
	font-weight: bold;
}
/*********************************** forms *****************************************/

#form label { 
	font-weight: bold;
	font-size:15px;
}

#form input {
  width:200px;
  height: 25px;
  font-size: 20px;
  background:#ffffff url(../images/inputBg.gif) top left no-repeat;
}
#form select{
  width:200px;
  height: 25px;
  font-size: 15px;
}
#form input, textarea, select {
  border:1px solid #aaaaaa;
  padding:2px;
  background:#ffffff url(../images/inputBg.gif) top left no-repeat;
  margin-top:2px;
}

#form input.checkbox {
  width:15px;
  background:none;
  border:0;
}

#form input.radio_button {
  width:15px;
  background:none;
  border:0;
}

#form input.small, select.small {
  width:50px;
}

#form input.large, select.large {
  width:200px;
}

#form input.extra_large, select.extra_large {
  width:300px;
}

#form input:hover, textarea:hover, select:hover {
  border:2px solid #5190b2;
}

#form input:active, textarea:active, select:active {
  border:2px solid #5190b2;
}
#form input:focus, textarea:focus, select:focus {
  border:2px solid #5190b2;
}
#form input.submit {
  background:#ffffff url(../images/button_current.png)  repeat-x;
  width:100px;
  color:#ffffff;
  height: 40px;
}

#form input.submit:hover {
  
  cursor: pointer;
}

#form input.securitycode {
  width:51px;
  text-transform: uppercase;
}

#form textarea {
  width:200px;
  height: 200px;
}

#form textarea.deep {
  height:350px;
}

#form textarea.shallow {
  height:50px;
}

#form fieldset {
  width: 400px;
  background:#f7f7f7;
  padding:2%;
  border:1px solid #e3e3e3;
  margin:auto;
  display: block;
}
#form fieldset img {
border:0;
}

#form legend {
  font-weight:bold;
  font-size: 120%; 
  letter-spacing: -1px;
  color:#666666;
}